.scaner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex;
    justify-content: center;
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    align-items: center;
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    background-color: black;
}

#qrCodeContainer {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    overflow: hidden;
}

#qr-shaded-region {
    border-width: 50px !important;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto !important;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.scaner table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .scaner th, .scaner td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .scaner th {
    background-color: #4CAF50;
    color: white;
  }
  .scaner td {
    color: #ffffff;
  }
  .qr-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .qr-message {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    word-break: break-all;
  }