#root {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.camera-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto; /* Изменяем ширину видео, чтобы она автоматически подстраивалась под размер родительского контейнера */
  height: auto; /* Изменяем высоту видео, чтобы она автоматически подстраивалась под размер родительского контейнера */
  max-width: 100%; /* Устанавливаем максимальную ширину видео, чтобы оно не выходило за пределы родительского контейнера */
  max-height: 100%; /* Устанавливаем максимальную высоту видео, чтобы оно не выходило за пределы родительского контейнера */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #000;
  object-fit: cover; /* Сохраняем соотношение сторон видео, чтобы не искажалось */
}

.camera-video.mirror {
  -webkit-transform: translate(-50%, -50%) scale(-1, 1);
  transform: translate(-50%, -50%) scale(-1, 1);
}

canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h3 {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 4px #000;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-size: 20px;
  color: rgb(255, 8, 0)(89, 255, 0);
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

button {
  margin-bottom: 10px;
  border: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 22%;
  background-color: #f8f8f8;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 4px #000;
  box-shadow: 0 0 4px #000;
}

.scaner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#qrCodeContainer {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 7px;
  overflow: hidden;
}

.qr-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  word-break: break-all;
}
